
:root {
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red:  hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);

  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: rubik;
  font-weight: 400;
  background-color: var(--light-gray);
}

.Comments-list{
  display: flex;
  flex-direction: column;
  margin: 3em auto;
  max-width: 700px;
}

.comment{
  background-color: var(--white);
  border-radius: 0.5em;
  display: flex;
  flex-direction: row;
  padding: 1em;
  gap: 1em;
  margin-top: 1em;
}

.replies-container{
  display: flex;
  flex-direction: row;
}

.vl-container{
  min-width: 2em;
  width: 10em;
  min-height: 100%;
  position: relative;
  padding-top: 1em;
  overflow: hidden;
}

.vl{
  height: 100%;
  border-left: 1px solid darkgrey;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 1em;
}

.replies-list{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-votes{
  max-width: 3em;
  border-radius: 0.5em;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 0.5em;
  align-items: center;
}

.comment-votes img{
  width: 1em;
}

.comment-votes img:hover{
  cursor: pointer;
  fill: var(--moderate-blue);
}

.comment-body{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.avatar-img{
  height: 2em;
}

.reply-button{
  color: var(--moderate-blue);
  background-color: var(--white);
  border-style: none;
  font-size: 16px;
  font-weight: 700;
  margin-left: auto;
}

.reply-button:hover{
  cursor: pointer;
}

.reply-box{
  background-color: var(--white);
  padding: 1em;
  display: flex;
  flex-direction: row;
  border-radius: 0.5em;
  margin-top: 0.5em;
  gap: 1em;
}

.reply-box img{
  height: 2.5em;
}

.reply-box form{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap:1em;
}


textarea{
  border-radius: 0.25em;
  border: solid 1px var(--moderate-blue);
  font-family: inherit;
  font-size: inherit;
  resize: none;
  padding: 0.5em;
  width: -webkit-fill-available;
}

textarea:focus{
  outline: none;
  border: solid 1px var(--moderate-blue);
}

.reply-btn-filled{
  padding: 1em 2em;
  background-color: var(--moderate-blue);
  border-style: none;
  border-radius: 0.5em;
  color: var(--white);
  font-weight: 600;
  
  height: fit-content;
}
.reply-btn-filled:hover{
  cursor: pointer;
}

p {
  text-align: left;
  margin-block: 0.5em;
}

.score{
  font-weight: 600;
  color: var(--moderate-blue)
}

.you-badge{
  color: var(--white);
  font-size: 13px;
  background-color: var(--moderate-blue);
  padding: 0em .4em 0.2em .4em ;
  margin-block: 0;
  border-radius: 0.2em;
}

.own-comment-actions{
  display: flex;
  margin-left: auto;
  gap: 1em;
}

.delete-btn{
  background-color: var(--white);
  border-style: none;
  color: var(--soft-red);
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.delete-btn:hover{
  cursor: pointer;
}

.edit-btn{
  background-color: var(--white);
  border-style: none;
  color: var(--moderate-blue);
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.edit-btn:hover{
  cursor: pointer;
}

.modal-overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-card{
  background-color: white;
  position: absolute;
  max-width: 300px;
  height: fit-content;
  inset: 0 0 0 0;
  margin: auto auto;
  border-radius: 0.5em;
  text-align: left;
  padding: 0em 1.5em 1.5em 1.5em;
}

.modal-card-actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top:1em;
}

.modal-card-actions button:hover{
  cursor: pointer; 
}

.cancel-button{
  padding: 1em 2em;
  background-color: gray;
  border-style: none;
  border-radius: 0.5em;
  color: var(--white);
  font-weight: 600;
  
  height: fit-content;
}

.confirm-button{
  padding: 1em 2em;
  background-color: var(--soft-red);
  border-style: none;
  border-radius: 0.5em;
  color: var(--white);
  font-weight: 600;
  
  height: fit-content;
}